$corDeFundo: #13131F;
$corDoTexto: #f9f9f9;
$corDoTextoSecundario: #ffffff;
$corDiferenciada: #8257E6;
$corDeFundoBotaoPrimario: #6045a1;
$corDeFundoBotaoTransparente: #13131f;
$corTerceira: #828282;